{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": "commonjs",
                "spec": true
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": false
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        },
                        "modules": false,
                        "spec": true
                    }
                ],
                [
                    "@babel/es2015",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                [
                    "@babel/plugin-transform-modules-commonjs",
                    {
                        "spec": true
                    }
                ],
                [
                    "@babel/plugin-proposal-class-properties",
                    {
                        "loose": false
                    }
                ]
            ]
        }
    }
}
